# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!Kebab Engine/Source/External/SDL/libx86/SDL2.lib
!Kebab Engine/Source/External/SDL/libx86/SDL2main.lib
!Kebab Engine/Source/External/glew/lib/Release/Win32/glew32s.lib
!Kebab Engine/Source/External/PhysFS/lib/PhysFS.lib
!Kebab Engine/Source/External/MathGeoLib/lib/Debug/MathGeoLib.lib
!Kebab Engine/Source/External/MathGeoLib/lib/Release/MathGeoLib.lib
!Kebab Engine/Source/External/Assimp/lib/assimp-vc142-mt.lib
!Kebab Engine/Source/External/DevIL/lib/DevIL.lib
!Kebab Engine/Source/External/DevIL/lib/ILU.lib
!Kebab Engine/Source/External/DevIL/lib/ILUT.lib
!Kebab Engine/Source/External/Optick/lib/OptickCore.lib

# Executables
*.exe
!Kebab Engine/Source/External/Optick/Optick.exe
*.out
*.app


# Ignore thumbnails created by windows
Thumbs.db

# Ignore files build by Visual Studio
*.obj
*.pdb
*.aps
# *.user
# *.vcproj
# *.vcxproj*
# *.sln
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.tlog
.vs

[Bb]uild
[Bb]in
[Dd]ebug/
!Kebab Engine/Source/External/MathGeoLib/lib/[Dd]ebug/
!Kebab Engine/Source/External/MathGeoLib/src/
!Kebab Engine/Source/External/MathGeoLib/test/
*.sbr
*.sdf
obj/
[R]elease/
_ReSharper*/
[Tt]est[Rr]esult*
ipch/
*.opensdf
*.db
*.opendb